html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  padding-top: 8px;
  background-image: url("../images/bg/Group833.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 54px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.menu {
  width: 25px;
}

.menu__button {
  height: 25px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.menu__button-icon {
  position: relative;
  width: 25px;
  height: 2px;
  display: block;
  background-color: #000000;
}

.menu__button-icon::after, .menu__button-icon::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #000000;
  left: 0;
}

.menu__button-icon::after {
  top: 10px;
}

.menu__button-icon::before {
  bottom: 10px;
}

.header__title {
  text-align: center;
  margin-bottom: 53px;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 47px;
  color: #7bbfe1;
}

.header__img {
  max-width: 100%;
}

.choose-specialist {
  position: relative;
}

.choose-specialist__heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin: 0 auto;
  white-space: pre-line;
  padding: 15px 0;
  position: absolute;
  background-color: #fff;
  width: 100%;
}

.choose-specialist__content {
  height: 1000px;
  background-image: url("../images/bg/specialist-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-top: 140px;
}

.choose-specialist__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.btn-block {
  margin: 35px 0;
  width: calc(100vw - 21px);
  overflow: hidden;
}

.btn-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.btn-block__list::-webkit-scrollbar {
  width: 0;
}

.btn-block__item--active {
  background: #ffffff;
  border: 0.3px solid #3550c1;
  -webkit-box-shadow: 1px 1px 3px rgba(87, 192, 255, 0.25);
          box-shadow: 1px 1px 3px rgba(87, 192, 255, 0.25);
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px 10px;
}

.btn-block__item + .btn-block__item {
  margin-left: 23px;
}

.choose-specialist__items {
  display: none;
}

.choose-specialist__items--active {
  display: block;
}

.card {
  background: #ffffff;
  border-radius: 10px;
  padding: 27px 22px;
  max-width: 319px;
  margin: 0 auto;
  margin-top: 17px;
}

.card__img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 113px;
  height: 113px;
  margin-bottom: 16px;
}

.card__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}

.card__experience {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 8px;
}

.card__scills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__scills li {
  text-align: center;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #34a8ee;
}

.card__scills li + li {
  padding-left: 12px;
  margin-left: 8px;
}

.card__scills li + li::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #34a8ee;
  left: 0;
  top: 35%;
}

.card__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 12px;
  margin-bottom: 15px;
}

.crad__link {
  font-family: "Montserrat", sans-serif;
  display: block;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #b1b1b1;
}

.card__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 233px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 16px;
}

.card__tag {
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 10px rgba(87, 192, 255, 0.25);
          box-shadow: 1px 1px 10px rgba(87, 192, 255, 0.25);
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.swiper {
  max-width: 319px;
}

.swiper-button-next::after {
  background-image: url("../images/arrow-next.svg");
  background-repeat: no-repeat;
  content: "";
  width: 12px;
  height: 24px;
}

.swiper-button-prev::after {
  background-image: url("../images/arrow-prev.svg");
  background-repeat: no-repeat;
  content: "";
  width: 12px;
  height: 24px;
}

.swiper-button-prev,
.swiper-button-next {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

@media (min-width: 500px) {
  .container {
    max-width: 400px;
  }
}
/*# sourceMappingURL=main.css.map */