html {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}
.header {
  padding-top: 8px;
  background-image: url("../images/bg/Group833.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 54px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.menu {
  width: 25px;
}
.menu__button {
  height: 25px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.menu__button-icon {
  position: relative;
  width: 25px;
  height: 2px;
  display: block;

  background-color: #000000;

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #000000;
    left: 0;
  }
  &::after {
    top: 10px;
  }
  &::before {
    bottom: 10px;
  }
}

.header__title {
  text-align: center;
  margin-bottom: 53px;
  //   font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 47px;

  color: #7bbfe1;
}

.header__img {
  max-width: 100%;
}

.choose-specialist {
  //   background-color: #fff;
}

.choose-specialist__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  //   width: 222px;
  margin: 0 auto;
  white-space: pre-line;
  padding: 15px 0;
}
@media (min-width: 500px) {
  .container {
    max-width: 400px;
  }
}
